absl-py==1.0.0
argcomplete==2.0.0
asgiref==3.4.1
astunparse==1.6.3
boto3==1.21.29
botocore==1.24.30
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
cfn-flip==1.3.0
charset-normalizer==2.0.12
click==8.1.1
colorama==0.4.4
distlib==0.3.4
Django==3.2.6
django-cors-headers==3.7.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
durationpy==0.5
filelock==3.6.0
Flask==2.1.1
flatbuffers==2.0
future==0.18.2
gast==0.5.3
gevent==21.12.0
ghs==0.1.1
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.44.0
gunicorn==20.1.0
h5py==3.6.0
halo==0.0.31
hjson==3.0.2
idna==3.3
imageio==2.18.0
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==1.0.0
joblib==1.1.0
kappa==0.6.0
keras==2.8.0
Keras-Preprocessing==1.1.2
libclang==14.0.1
log-symbols==0.0.14
Markdown==3.3.6
MarkupSafe==2.1.1
networkx==2.8
numpy==1.22.3
oauthlib==3.2.0
olefile==0.46
opt-einsum==3.3.0
packaging==21.3
Pillow==9.1.0
placebo==0.9.0
platformdirs==2.5.1
protobuf==3.20.1
psycopg2==2.9.1
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.1.0
pyparsing==3.0.8
pyperclip==1.8.2
python-dateutil==2.8.2
python-slugify==6.1.1
pytz==2021.1
PyWavelets==1.3.0
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
retry-requests==1.0.1
rsa==4.8
s3transfer==0.5.2
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
spinners==0.0.24
sqlparse==0.4.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
text-unidecode==1.3
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tifffile==2022.4.26
toml==0.10.2
tqdm==4.63.1
troposphere==4.0.0
typing_extensions==4.2.0
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.14.0
Werkzeug==2.1.0
whitenoise==5.3.0
wrapt==1.11.2
wsgi-request-logger==0.4.6
zappa==0.54.1
zope.event==4.5.0
zope.interface==5.4.0
